@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}

.container{
    width: 1200px;
    margin: 0 auto;
    
}



header{
    height:18vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
header a{
    display: flex;
    align-items: center;
}
#logo{
    height: 18vh;
}
#title{
    color: #E50000;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}


.links{
    display: flex;
    justify-content: space-around;
}
.links a {
    margin-left: 2vw;
}

.zapHeader , .zapHeader a{
    color:#BC2828
}

/* banner \/ */
.banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img{
    height: 100%;
    width: 100%;
    position: relative;
    
}

.texto{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 320px;
    height: 30vh;
    background-color: #e500005e;
    border-radius: 10px;
    color:white;
    text-align: center;
    padding: 3vh 0 0 0;
    align-items: center;
}

.texto p{
    
    margin-top: 1vh;
}

.texto a{
    display: flex;
    margin-top: 3vh;
    height: 50px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.867);

}
.texto a:hover{
    background-color:#960404;
    color: white;
}

/* FESTAS */
.festas{
    display: flex;
    justify-content: space-around;
    width: 625px;
    margin-top: 5vh;
    color: rgb(255, 255, 255);
}
.coxinha img{
    height:485px;
    width: 300px;
    margin-right: 5vw;
}
.coxinha img:hover{
    height:505px;
    width: 320px;
}

.encomendasFesta{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 230px;
    width: 35vw;
    justify-content: center;
    background-color: #571211;
    text-align: center;
    
    
}

#zap{
    margin: 0 auto;
    height: 15vh;
    margin-top: 1vh;

}
#zap:hover{
    margin-top: 0vh;
    height: 18vh;
}

.cardapio{
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 35vw;
    margin-top: 5vh;
    background-color: #571211;
    justify-content: center;
    background-color: #571211;
    text-align: center;
    font-size: 1rem;
    

}
#cardapioTxt{
    color: white;
    position: relative;
}
#cardapioTxt:hover::before{
    content: '';
    background-color: rgb(255, 255, 255);
    height: 0.5vh;
    width: 8vw;
    position: absolute;
    top: 100%;
    

}



/* Mais vendidos */
.maisVendidos{
    height: 120vh;
    padding-top: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#maisVendidosTxt{
    position: relative;
    color: #B22828;
    height: 10vh;
    font-size: 2rem;
}

#maisVendidosTxt:hover::before{
    content: '';
    background-color: #B22828;
    height: 0.5vh;
    width: 100%;
    position: absolute;
    top:5vh;
}


.mvWrap{
    display: flex;
    margin-top: 5vh;
  
   
}

.mv4{
    display: flex;
    flex-wrap: wrap;
    height:520px;
    width: 620px;
    justify-content: space-around;
    align-content: space-between;
}
.mv4 img{
    display: block;
    height: 250px;
    
}
.mvVertical{
    height:520px;
}
.mvVertical img{
    display: block;
    height: 100%;
}



/* FOOTER  */
footer{
    /* width: 98.75vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    background-color: black;
    color: white;
}



/* Salgados page \/ */ 

.produtos{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    width: 70vw;
    border: black solid 5px;
    border-radius: 15px;
    flex-wrap: wrap;
}

.produtoWrapper{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 2vh 0vw;
    min-width: 180px;
    max-width: 270px;
  
}


.salgados{
    display: flex;
    flex-wrap: wrap;

}


.produtos h2{
    display: inline-block;
    width: 100%;
    text-align: center;
}


/* produto individual */

.imgProdutos{
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    margin: 0 auto;
}

#precoDescricao{
   height: 30%;
   font-weight: 400;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 20vh;
    width: 100%;
    
}

.quantidade{
    font-weight: 700;
    padding: 0 0.5vw;
}

.bt {
    width: 25px;
    height: 27px;
    border-radius: 20px;
    
}
.botoes{
    display:flex
}



#novoPedido{
    margin: 2vh 0;
}

#enviarPedido{
    display: none;
}
.pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}
.btPedido{
  height: 30px;
  width: 100px;
}
.enviarPedido{
    text-align: center;
    justify-content: center;
}

@media (max-width:1200px) {
    .container{
        width: 80vw;
    }
}

@media (max-width:970px) {
    .container{
        width: 80vw;
    }
    
    .mv4{
        display: flex;
        flex-wrap: wrap;
        height:400px;
        width: 500px;
        justify-content: space-around;
        align-content: space-between;
    }
    .mv4 img{
        height: 195px;
        
    }
    .mvVertical{
        height:400px;
    }
    .mvVertical img{
        height: 100%;
    }
    

}

@media (max-width:770px) {
    .banner{
        width: 100vw;
    }
    #title{
        display: none;
    }
    .maisVendidos{
        height: 150vh;
    }
    .mvWrap{
    
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .mv4{
        display: flex;
        flex-wrap: wrap;
        height:300px;
        width: 100%;
        justify-content: space-around;
        align-content: space-between;
    }
    .mv4 img{
        height: 144px;
        width: 35vw;
        
    }
    .mvVertical{
       
        height:320px;
        margin-top: 3vh;
    }
    .mvVertical img{
       
        width: 75vw;
    }
    .coxinha{
        margin-top: 5vh;
        display: flex;
        align-content: center;
    }
 
  
}

@media (max-width:580px) {
    .zapHeader{
        display: none;
    }
    .coluna{
        order: -1;
    }
    .festas{
        flex-direction: column;
        align-items: center;
    }
    .encomendasFesta{
        width: 80vw;
    }
    .cardapio{
        width: 80vw;
        
    }
    .coxinha img{
        margin:0 auto;
        height:485px;
        width: 80vw;
    }
    .coxinha img:hover{
        height:500px;
        width: 90vw;
    }
    
    
}
@media (max-height:500px) {
    .maisVendidos{
        height: 180vh;
    }
    .texto{
      
        width: 320px;
        height: 175px;
       
    }

    
   

}

@media (max-height:420px) {
    .maisVendidos{
        height: 220vh;
    }
    

}


@media (max-height:335px) {
    .maisVendidos{
        height: 250vh;
    }
}